.App {
  text-align: center;
}

.App-header {
  background-color: rgba(31, 9, 224, 0.884);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.likeButton{
 font-size: 1em;
 color: white;
 background-color: blue;
 border-radius: 2em;

}

.imageList{
  display: grid;
  height: 0px;
  /* align-content: space-evenly; */
  grid-template-columns: auto auto auto; 
  grid-gap: 1px;
  background-color: #2196F3;
  padding: 1px;
}
.likes{
  color: blue;
  background-color: white;
}

  



